<div class="full-size">
    <div ng-show="fetchingProblems">
        <img class="centered-image" src="../../../images/loading-gif.gif"/>
    </div>

    <div ng-show="!fetchingProblems && !showingProblem" class="full-size centered-problems">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 centered-problems">
            <ul class="problems-list">
                <li ng-repeat="problem in problems">
                    <button class="btn btn-primary problem-btn"
                            ng-click="getProblemContent(problem)">
                        {{problem.index}}. {{problem.name}}
                    </button>
                </li>
            </ul>
        </div>
    </div>

    <div ng-show="!fetchingProblems && !showingProblem && problemNotAvailable"
         class="alert alert-info col-xs-12 col-sm-12 col-md-12 col-lg-12"
         id="problem-not-available-warning">
        <strong>Info!</strong> Problem content is not available.
    </div>

    <div ng-show="!fetchingProblems && showingProblem" class="full-size">
        <span class="glyphicon glyphicon-remove"
              id="exit-problem-button"
              ng-click="exitProblem()"></span>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 centered-problems-statement">
            <div class="problem-header page-header">
                <p ng-repeat="headerInfo in showedProblem.header">{{headerInfo}}</p>
            </div>
            <div class="problem-story">
                <b>Story</b>
                <p ng-repeat="storyInfo in showedProblem.story">{{storyInfo}}</p>
            </div>
            <div class="problem-input-specification">
                <b>Input</b>
                <p ng-repeat="inputSpecification in showedProblem.inputSpecifications">{{inputSpecification}}</p>
            </div>
            <div class="problem-output-specification">
                <b>Output</b>
                <p ng-repeat="outputSpecification in showedProblem.outputSpecifications">{{outputSpecification}}</p>
            </div>
            <div class="problem-sample-tests">
                <div ng-repeat="test in showedProblem.sampleTest">
                    <div class="input">
                        <b>Test Input</b>
                        <pre>{{test[0]}}</pre>
                    </div>
                    <div class="output">
                        <b>Test Output</b>
                        <pre>{{test[1]}}</pre>
                    </div>
                </div>
            </div>
            <div class="problem-note">
                <b>Note</b>
                <p ng-repeat="noteInfo in showedProblem.note">{{noteInfo}}</p>
            </div>
        </div>
    </div>
</div>