#user-handler {
    margin-bottom: 5px;
}

.header-image {
    height: 5% !important;
    width: 50% !important;
}

.user-profile {
    height: 40%;
}

.user-data {
    font-size: 16px;
}

.header {
    display: flex;
    flex-direction: row;
    flex-flow: row-reverse;
}

.user-profile, .header-image {
    margin-top: 2px;
}

.contest-table-options {
    width: 20%;
    float: right;
}

.contest-observer {
    margin: 5% 1%;
}

.contest-country-select {
    margin-left: 1%;
}

.problems-list {
    list-style-type: none;
}

.problems-list > li {
    display: flex;
    margin: 3px;
}

.centered-problems {
    display: flex;
    justify-content: center;
    align-items: center;
}

.problem-btn {
    flex: 2;
    font-size: 16px !important;
    padding: 3% !important;
    width: 500px;
}
