#user-handler {
    margin-bottom: 5px;
}

.header-image {
    height: 20% !important;
    width: 50% !important;
}

.user-profile {
    height: 40%;
}

.header {
    display: flex;
    flex-direction: row;
    flex-flow: row-reverse;
}

.user-profile, .header-image {
    margin-top: 2px;
}
