.centered {
    left: 25%;
    top: 25%;
    bottom: 25%;
    right: 25%;
}

.full-size {
    height: 100%;
    width: 100%;
}

.centered-image {
    display: block;
    margin: auto;
    vertical-align: middle;
}
